<h1>All Authors:</h1>
<%= link_to "Add New Author", new_author_path %>

<br><br>
    <table>
    <tr>
        <th>Name</th>
        <th>Date of Birth:</th>
        <th>Books Published</th>
        <th>Actions</th>
    </tr>
    <% @authors.each do |author| %>
        <tr>
            <td><%= link_to (author.first_name + " " + author.last_name) , author_path(author) %></td>
            <td><%= "#{author.dob.day}/#{author.dob.month}/#{author.dob.year}" %></td>
            <td><%= author.books_published%></td>
            
           
          
        </tr>
    <% end %>
</table>



